<section>

  <h3>Contact us to learn more!</h3>
  
<form method="POST" action="//formspree.io/{{ site.data.settings.email }}">
  
  <input type="hidden" name="_next" value="form-success" />
  
  <fieldset class="contact-form">

    <input type="text" name="name" id="contact_form_name">
    <label for="contact_form_name">Your Name</label>
    
    <input type="email" name="_replyto" id="contact_form_email">
    <label for="contact_form_email">Your Email</label>
    
    <textarea name="message" id="contact_form_message"></textarea>
    <label for="contact_form_message">Your Message</label>
    
    <input type="submit" value="Send">

  </fieldset>

</form>
  
</section>
